<nav id="sidebar" class="sidebar-wrapper">
      <div class="app-brand p-3 mb-3">
            <div class="row">
                  <div class="col-9">
                        <a href="#">
                              <img src="assets/image/logo.png" class="logo" alt="{{PageTitle}}"
                                    title="{{PageTitle}}" /><span
                                    id="account-name">&nbsp;&nbsp;&nbsp;{{PageTitleShort}}</span></a>
                  </div>
                  <div class="col-3">
                        <div class="d-flex float-end">
                              <button class="toggle-sidebar" id="toggle-sidebar-close-mobile">
                                    <i class="bi bi-x-square lh-1"></i>
                              </button>
                        </div>
                  </div>
            </div>
      </div>
      <div class="sidebarMenuScroll">
            <ul class="sidebar-menu">
                  <li>
                        <a routerLink="{{domainName}}HoaDonChiTiet">
                              <i class="bi bi-gear"></i>
                              <span class="menu-text">Chấm công</span>
                        </a>
                  </li>    
                  <li>
                        <a routerLink="{{domainName}}ThanhVien">
                              <i class="bi bi-shield-lock"></i>
                              <span class="menu-text">Nhân viên</span>
                        </a>
                  </li>    
                  <li>
                        <a routerLink="{{domainName}}DanhMucDuAn">
                              <i class="bi bi-search"></i>
                              <span class="menu-text">Công trình</span>
                        </a>
                  </li>      
                  <li>
                        <a routerLink="{{domainName}}DanhMucSanPham">
                              <i class="bi bi-search"></i>
                              <span class="menu-text">Đơn giá</span>
                        </a>
                  </li>             
            </ul>
      </div>
</nav>
<div class="app-container">
      <div class="app-header d-flex align-items-center">
            <div class="d-flex">
                  <button class="pin-sidebar">
                        <i class="bi bi-list lh-1"></i>
                  </button>
            </div>
            <div class="app-brand-sm d-lg-none d-flex">
            </div>
            <div class="search-container d-lg-block d-none mx-3">
                  <input type="text" class="form-control" placeholder="{{PageDescription}}" />
            </div>
            <div class="header-actions">
                  <div class="d-sm-flex d-none gap-3">
                  </div>
                  <div class="dropdown ms-4">                        
                  </div>
                  <div class="d-flex">
                        <button class="toggle-sidebar">
                              <i class="bi bi-list lh-1"></i>
                        </button>
                  </div>
            </div>
      </div>
      <hr />
      <router-outlet></router-outlet>
</div>